<!doctype html>
<html data-theme="{{#if enableDarkMode}}dark{{else}}light{{/if}}">
  <head>
    <title>Activity - {{appName}}</title>
    {{> favicon }}
    <link rel="stylesheet" type="text/css" href="{{staticUrl "style.css"}}">
    <script type="text/javascript" charset="utf8" src="{{staticUrl "twemoji.min.js"}}" crossorigin="anonymous"></script>
  </head>
  <body>
    {{> menuheader activity=true }}
    <div class="body-wrapper">
      <p>
        These pages present a &ldquo;best guess&rdquo; of per-person solving activity
        based on what is technologically observable. Keep in mind that offline solving
        activity is not represented here, and some online activity may be missed as well.
      </p>
      <table class="location">
        <thead>
          <th>Solver</th>
          <th>Latest activity time</th>
          <th>Puzzle</th>
          <th>Activity</th>
        </thead>
        <tbody>
        {{#each users}}
        <tr>
          <td><a href="/useractivity/{{id}}">{{name}}</a></td>
          <td>{{{timeAgo latestActivity.timestamp}}}</td>
          <td>
            {{#if latestActivityPuzzle}}
            <a href="/puzzleactivity/{{latestActivityPuzzle.id}}">
              {{#with (puzzleStatusEmoji latestActivityPuzzle)}}
                {{unicodeEmoji}}
              {{/with}}
              {{latestActivityPuzzle.name}}
            </a>
            {{/if}}
          </td>
          <td>
            {{renderActivityType latestActivity.activityType}}
          </td>
        </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
    <script type="text/javascript">
      twemoji.parse(document.body);
    </script>
  </body>
</html>
