<html>
  <head>
    <title>Breakouts</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script type="text/javascript" charset="utf8" src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="menu-header">
      <div class="menu-item">{{appName}}</div>
      <div class="menu-item"><a href="puzzles">Puzzles</a></div>
      <div class="menu-item"><a href="metas">Metas</a></div>
      <div class="menu-item menu-selected"><a href="breakouts">Breakouts</a></div>
      <div class="menu-item"><a href="tagger">Tag Editor</a></div>
    </div>
    <div class="body-wrapper">
      <p>Unsolved puzzles that have cited breakout rooms in their topics will appear here.</p>
      <table class="breakout">
        <thead>
          <th>&nbsp;</th>
          <th>Room</th>
          <th>Puzzle</th>
          <th>Topic</th>
          <th>Solvers</th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
        {{#each breakouts}}
        <tr>
          <td class="emoji-column">{{puzzleStatusEmoji puzzle}}</td>
          <td>{{breakout}}</td>
          <td><a href="{{../slackUrlPrefix}}{{puzzle.id}}" target="_blank">{{puzzle.name}}</a></td>
          <td>{{puzzle.channelTopic}}</td>
          <td>
            {{#each puzzle.users}}
              <span class="solver-name">{{name}}</span>&nbsp;&nbsp;
            {{/each}}
          </td>
          <td>
            <form action="breakouts/remove" method="POST">
              <input type="hidden" name="puzzleId" value="{{puzzle.id}}">
              <button type="submit" name="submit">Clear 'BR {{breakout}}' from topic</button>
            </form>
          </td>
        </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
    <script type="text/javascript">
      twemoji.parse(document.body);
    </script>
  </body>
</html>
