<html>
  <head>
    <title>Breakouts</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <div class="menu-header">
      <div class="menu-item">{{appName}}</div>
      <div class="menu-item"><a href="puzzles">Puzzles</a></div>
      <div class="menu-item"><a href="metas">Metas</a></div>
      <div class="menu-item menu-selected"><a href="breakouts">Breakouts</a></div>
      <div class="menu-item"><a href="tagger">Tag Editor</a></div>
    </div>
    <div class="body-wrapper">
      <table>
        {{#each breakouts}}
        <tr>
          <td>{{breakout}}</td>
          <td>{{puzzle.name}}</td>
          <td>{{puzzle.channelTopic}}</td>
          <td>
            {{#each puzzle.users}}
              {{name}}&nbsp;&nbsp;
            {{/each}}
          </td>
          <td>
            <form action="breakouts/remove" method="POST">
              <input type="hidden" name="puzzleId" value="{{puzzle.id}}">
              <input type="submit" name="submit" value="Remove BR {{breakout}} from topic">
            </form>
          </td>
        </tr>
        {{/each}}
      </table>
    </div>
  </body>
</html>
