<!doctype html>
<html>
  <head>
    <title>Dashboard - {{appName}}</title>
    {{> favicon }}
    <link rel="stylesheet" type="text/css" href="{{staticUrl "dashboard.css"}}">
    <script type="text/javascript" charset="utf8" src="{{staticUrl "twemoji.min.js"}}" crossorigin="anonymous"></script>
    {{#if refresh}}
    <meta http-equiv="refresh" content="{{refresh}}">
    {{/if}}
  </head>
  <body>
     <div class="dashboard">
        <div class="stats">
          <h2>Stats</h2>
          <div class="stats-container">
            <div class="stat-box">
              <span class="stat">{{activeUserCount}}</span>
              <span class="stat-label">active users</span>
            </div>
            <div class="stat-box">
              <span class="stat">{{solvedPuzzleCount}} / {{totalPuzzleCount}}</span>
              <span class="stat-label">solved / total puzzles</span>
            </div>
            <div class="stat-box">
              <span class="stat">{{solvedMetaCount}} / {{totalMetaCount}}</span>
              <span class="stat-label">solved / total metas</span>
            </div>
          </div>
        </div>
        <div class="events">
          <h2>Events</h2>
          {{#each eventChannelTopics}}
          <span class="event">{{this}}</span>
          {{/each}}
        </div>
        <div class="notices">
          <h2>Notices</h2>
          {{#each notices}}
          <p>{{this}}</p>
          {{/each}}
        </div>  
        <div class="puzzles">
          <h2>Puzzles</h2>
          {{#each unsolvedPuzzles}}
          <div class="puzzle">
            <div class="puzzle-status-emoji">
              {{#with (puzzleStatusEmoji this)}}
                <div title="{{description}}" class="emoji">
                  {{unicodeEmoji}}
                </div>
              {{/with}}
            </div>
            <div class="puzzle-details">
              <div class="puzzle-header">
                <span class="puzzle-title">{{name}}</span>
                <span class="puzzle-tags">
                  {{#each tags}}
                  <span class="tag {{name}}">{{name}}</span>
                  {{/each}}
                </span>
              </div>
              <span class="puzzle-topic">{{channelTopic}}</span>
            </div>
            <div class="puzzle-people">
              {{#each (cappedUsers users 2)}}
              {{#if imageUrl}}
              <img src="{{imageUrl}}">
              {{/if}}
              {{#if additionalUserCount}}
              <div class="puzzle-people-count">
                +{{additionalUserCount}}
              </div>
              {{/if}}
              {{/each}}
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <script type="text/javascript">
      twemoji.parse(document.body);
    </script>
  </body>
</html>