<!doctype html>
<html data-theme="{{#if enableDarkMode}}dark{{else}}light{{/if}}">
  <head>
    <title>{{appName}}</title>
    {{> favicon }}
    <link rel="stylesheet" type="text/css" href="{{staticUrl "style.css"}}">
  </head>
  <body>
    {{> menuheader index=true }}
    <div class="body-wrapper">
      <p>
        You're signed in as {{user.displayName}}. <a href="logout">Sign out</a>.
      </p>
      <p>
        Learn more about this app by <a href="{{helpUrl}}" target="_blank">reading the manual</a>.
      </p>
      <p>
        <form method="POST">
          <p>
            <input
              type="checkbox"
              id="useSlackWebLinks"
              name="useSlackWebLinks"
              {{#if useSlackWebLinks}}checked{{/if}}
              onchange="this.form.submit()">
            <label for="useSlackWebLinks">
              Use Slack web app (https://) links instead of
              Slack native app (slack://) links for Slack channels
            </label>
          </p>
          <p>
            <input
              type="checkbox"
              id="enableDarkMode"
              name="enableDarkMode"
              {{#if enableDarkMode}}checked{{/if}}
              onchange="this.form.submit()">
            <label for="enableDarkMode">
              Enable dark mode
            </label>
          </p>
          <p>
            <input
              type="checkbox"
              id="hideAnswers"
              name="hideAnswers"
              {{#if hideAnswers}}checked{{/if}}
              onchange="this.form.submit()">
            <label for="hideAnswers">
              Hide solved puzzle answers in web views (spoiler-free mode)
            </label>
          </p>
        </form>
      </p>
      {{#if isAdmin}}
      <p>
        You're an admin. Check out the <a href="admin">admin</a> page, but be careful!
      </p>
      {{/if}}
    </div>
  </body>
</html>
