    <div class="menu-header">
      <div class="menu-item{{#if index}} menu-selected{{/if}}">
        <a href="/">
          {{#if appIconUrl}}
            <img src="{{appIconUrl}}">
          {{else}}
            <svg>
              <title>{{appName}}</title>
              <use xlink:href="{{staticUrl "icons.svg"}}#logo"></use>
            </svg>
          {{/if}}
          <span class="app-name">{{appName}}</span>
        </a>
      </div>
      <div class="menu-item{{#if puzzles}} menu-selected{{/if}}">
        <a href="/puzzles">
          <svg>
            <title>Puzzles</title>
            <use xlink:href="{{staticUrl "icons.svg"}}#sheet"></use>
          </svg>
          <span>Puzzles</span>
        </a>
      </div>
      <div class="menu-item{{#if metas}} menu-selected{{/if}}">
        <a href="/metas">
          <svg>
            <title>Metas</title>
            <use xlink:href="{{staticUrl "icons.svg"}}#metas"></use>
          </svg>
          <span>Metas</span>
        </a>
      </div>
      <div class="menu-item{{#if activity}} menu-selected{{/if}}">
        <a href="/activity">
          <svg>
            <title>Activity</title>
            <use xlink:href="{{staticUrl "icons.svg"}}#people"></use>
          </svg>
          <span>Activity</span>
        </a>
      </div>
      <div class="menu-item{{#if locations}} menu-selected{{/if}}">
        <a href="/locations">
          <svg>
            <title>Locations</title
            ><use xlink:href="{{staticUrl "icons.svg"}}#location"></use>
          </svg>
          <span>Locations</span>
        </a>
      </div>
      <div class="menu-item{{#if tagger}} menu-selected{{/if}}">
        <a href="/tagger">
          <svg>
            <title>Tag Editor</title>
            <use xlink:href="{{staticUrl "icons.svg"}}#tags"></use>
          </svg>
          <span>Tag Editor</span>
        </a>
      </div>
    </div>
