<!doctype html>
<html data-theme="{{#if enableDarkMode}}dark{{else}}light{{/if}}">
  <head>
    <title>Metas - {{appName}}</title>
    {{> favicon }}
    <link rel="stylesheet" type="text/css" href="{{staticUrl "style.css"}}">
    <script type="text/javascript" charset="utf8" src="{{staticUrl "twemoji.min.js"}}" crossorigin="anonymous"></script>
  </head>
  <body>
    {{> menuheader metas=true }}
    <div class="body-wrapper">
      <p>
        Puzzles that have been tagged with <i>meta/</i> or <i>in/</i> tag prefixes will appear here.
      </p>
      <div class="meta-view-wrapper">
        {{#each metas}}
          <div class="meta-view{{#if complete}} meta-complete{{/if}}">
            {{#with (puzzleStatusEmoji this)}}
              <div title="{{description}}" class="meta-header emoji">
                {{unicodeEmoji}}
              </div>
            {{/with}}
            <div class="meta-header title">
              <a class="meta-link" href="puzzles?solved=all&tags=in/{{tagSuffix}}&tags=meta/{{tagSuffix}}{{#if id}}&expanded={{id}}{{/if}}">{{name}}</a>
            </div>
            <div class="meta-header answer{{#if ../hideAnswers}} hidden-answer{{/if}}">
              {{#if answer}}{{answer}}{{/if}}
            </div>
            <div class="meta-header meta-header-icons">
              {{#if url}}
                <a href="{{url}}" target="_blank">
                  <svg class="icon icon-link"><use xlink:href="{{staticUrl "icons.svg"}}#link"></use></svg>
                </a>
              {{/if}}
              {{#if id}}
                <a href="{{../slackUrlPrefix}}{{id}}" target="_blank">
                  <svg class="icon icon-slack"><use xlink:href="{{staticUrl "icons.svg"}}#slack"></use></svg>
                </a>
              {{/if}}
              {{#if sheetUrl}}
                <a href="{{sheetUrl}}" target="_blank">
                  <svg class="icon icon-sheet"><use xlink:href="{{staticUrl "icons.svg"}}#sheet"></use></svg>
                </a>
              {{/if}}
              {{#if drawingUrl}}
                <a href="{{drawingUrl}}" target="_blank">
                  <svg class="icon icon-drawing"><use xlink:href="{{staticUrl "icons.svg"}}#drawing"></use></svg>
                </a>
              {{/if}}
              {{#if huddleThreadMessageTs}}
                <a href="{{../slackHuddleUrlPrefix}}{{id}}" target="_blank">
                  <svg class="icon icon-huddle"><use xlink:href="{{staticUrl "icons.svg"}}#huddle"></use></svg>
                </a>
              {{/if}}
            </div>
            {{#each puzzles}}
              {{#with (puzzleStatusEmoji this)}}
                <div title="{{description}}" class="meta-puzzle emoji{{#if ../complete}} puzzle-complete{{/if}}">
                  {{unicodeEmoji}}
                </div>
              {{/with}}
              <div class="meta-puzzle title{{#if complete}} puzzle-complete{{/if}}">
                <a href="puzzles?solved=all&tags=in/{{../tagSuffix}}&tags=meta/{{../tagSuffix}}&expanded={{id}}">
                  {{name}}
                </a>
              </div>
              <div class="meta-puzzle answer{{#if complete}} puzzle-complete{{/if}}{{#if ../../hideAnswers}} hidden-answer{{/if}}">
                {{#if answer}}{{answer}}{{/if}}
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>

    <script type="text/javascript">
      twemoji.parse(document.body);
    </script>
  </body>
</html>
