<html>
  <head>
    <title>Metas - {{appName}}</title>
    <link rel="icon" type="image/svg+xml" href="static/favicon.svg">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script type="text/javascript" charset="utf8" src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="menu-header">
      <div class="menu-item">{{appName}}</div>
      <div class="menu-item"><a href="puzzles">Puzzles</a></div>
      <div class="menu-item menu-selected"><a href="metas">Metas</a></div>
      <div class="menu-item"><a href="breakouts">Breakouts</a></div>
      <div class="menu-item"><a href="tagger">Tag Editor</a></div>
    </div>
    <div class="body-wrapper">
      <p>
        Puzzles that have been tagged with <i>meta/</i> or <i>in/</i> tag prefixes will appear here.
      </p>
      <div class="meta-view-wrapper">
        {{#each metas}}
          <div class="meta-view">
            <div class="meta-header emoji{{#if complete}} meta-complete{{/if}}">
              {{puzzleStatusEmoji this}}
            </div>
            <div class="meta-header title{{#if complete}} meta-complete{{/if}}">
              <a class="meta-link" href="puzzles?tags=in/{{tagSuffix}}&tags=meta/{{tagSuffix}}{{#if id}}&expanded={{id}}{{/if}}">{{name}}</a>
            </div>
            <div class="meta-header answer{{#if complete}} meta-complete{{/if}}">
              {{#if answer}}<span class="answer">{{answer}}</span>{{/if}}
            </div>
            <div class="meta-header meta-header-icons{{#if complete}} meta-complete{{/if}}">
              {{#if url}}
                <a href="{{url}}" target="_blank">
                  <svg class="icon icon-link"><use xlink:href="#link"></use></svg>
                </a>
              {{/if}}
              {{#if id}}
                <a href="{{../slackUrlPrefix}}{{id}}" target="_blank">
                  <svg class="icon icon-slack"><use xlink:href="#slack"></use></svg>
                </a>
              {{/if}}
              {{#if sheetUrl}}
                <a href="{{sheetUrl}}" target="_blank">
                  <svg class="icon icon-sheet"><use xlink:href="#sheet"></use></svg>
                </a>
              {{/if}}
              {{#if drawingUrl}}
                <a href="{{drawingUrl}}" target="_blank">
                  <svg class="icon icon-drawing"><use xlink:href="#drawing"></use></svg>
                </a>
              {{/if}}
            </div>
            {{#each puzzles}}
              <div class="meta-puzzle emoji{{#if complete}} puzzle-complete{{/if}}">
                {{puzzleStatusEmoji this}}
              </div>
              <div class="meta-puzzle title{{#if complete}} puzzle-complete{{/if}}">
                <a href="puzzles?tags=in/{{../tagSuffix}}&tags=meta/{{../tagSuffix}}&expanded={{id}}">
                  {{name}}
                </a>
              </div>
              <div class="meta-puzzle answer{{#if complete}} puzzle-complete{{/if}}">
                {{#if answer}}{{answer}}{{/if}}
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>

    <script type="text/javascript">
      twemoji.parse(document.body);
    </script>

    <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <symbol id="drawing" viewBox="0 0 32 32">
        <title>Google Drawing</title>
        <path d="M26 28h-20v-4l6-10 8.219 10 5.781-4v8z"></path>
        <path d="M26 15c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3c1.657 0 3 1.343 3 3z"></path>
        <path d="M28.681 7.159c-0.694-0.947-1.662-2.053-2.724-3.116s-2.169-2.030-3.116-2.724c-1.612-1.182-2.393-1.319-2.841-1.319h-15.5c-1.378 0-2.5 1.121-2.5 2.5v27c0 1.378 1.122 2.5 2.5 2.5h23c1.378 0 2.5-1.122 2.5-2.5v-19.5c0-0.448-0.137-1.23-1.319-2.841zM24.543 5.457c0.959 0.959 1.712 1.825 2.268 2.543h-4.811v-4.811c0.718 0.556 1.584 1.309 2.543 2.268zM28 29.5c0 0.271-0.229 0.5-0.5 0.5h-23c-0.271 0-0.5-0.229-0.5-0.5v-27c0-0.271 0.229-0.5 0.5-0.5 0 0 15.499-0 15.5 0v7c0 0.552 0.448 1 1 1h7v19.5z"></path>
      </symbol>
      <symbol id="link" viewBox="0 0 512 512">
        <title>Link to Puzzle</title>
        <path d="M220.118 317.883c-6.655 0-13.308-2.538-18.385-7.615-47.567-47.568-47.567-124.967 0-172.535l96-96c23.044-23.043 53.68-35.733 86.267-35.733s63.224 12.69 86.268 35.732c47.566 47.568 47.566 124.967 0 172.535l-43.883 43.883c-10.154 10.154-26.615 10.154-36.77 0-10.153-10.153-10.153-26.616 0-36.77l43.883-43.883c27.292-27.293 27.292-71.702 0-98.995-13.221-13.221-30.8-20.502-49.498-20.502s-36.276 7.281-49.498 20.503l-96 95.999c-27.293 27.293-27.293 71.703 0 98.996 10.154 10.153 10.153 26.616 0 36.77-5.075 5.076-11.731 7.615-18.384 7.615z"></path>
        <path d="M128 506c-32.588 0-63.225-12.69-86.267-35.732-47.567-47.568-47.567-124.967 0-172.535l43.882-43.882c10.154-10.153 26.617-10.153 36.77 0 10.154 10.153 10.154 26.616 0 36.77l-43.882 43.882c-27.293 27.293-27.293 71.703 0 98.996 13.22 13.22 30.799 20.501 49.497 20.501s36.276-7.281 49.499-20.503l96-95.999c27.292-27.293 27.292-71.703 0-98.996-10.154-10.154-10.153-26.616 0-36.77 10.153-10.153 26.616-10.153 36.77 0.001 47.566 47.567 47.566 124.966 0.001 172.534l-96.001 96c-23.045 23.044-53.682 35.733-86.269 35.733z"></path>
      </symbol>
      <symbol id="sheet" viewBox="0 0 32 32">
        <title>Google Sheet</title>
        <path d="M28.681 7.159c-0.694-0.947-1.662-2.053-2.724-3.116s-2.169-2.030-3.116-2.724c-1.612-1.182-2.393-1.319-2.841-1.319h-15.5c-1.378 0-2.5 1.121-2.5 2.5v27c0 1.378 1.122 2.5 2.5 2.5h23c1.378 0 2.5-1.122 2.5-2.5v-19.5c0-0.448-0.137-1.23-1.319-2.841zM24.543 5.457c0.959 0.959 1.712 1.825 2.268 2.543h-4.811v-4.811c0.718 0.556 1.584 1.309 2.543 2.268zM28 29.5c0 0.271-0.229 0.5-0.5 0.5h-23c-0.271 0-0.5-0.229-0.5-0.5v-27c0-0.271 0.229-0.5 0.5-0.5 0 0 15.499-0 15.5 0v7c0 0.552 0.448 1 1 1h7v19.5z"></path>
        <path d="M23 26h-14c-0.552 0-1-0.448-1-1s0.448-1 1-1h14c0.552 0 1 0.448 1 1s-0.448 1-1 1z"></path>
        <path d="M23 22h-14c-0.552 0-1-0.448-1-1s0.448-1 1-1h14c0.552 0 1 0.448 1 1s-0.448 1-1 1z"></path>
        <path d="M23 18h-14c-0.552 0-1-0.448-1-1s0.448-1 1-1h14c0.552 0 1 0.448 1 1s-0.448 1-1 1z"></path>
      </symbol>
      <symbol id="slack" viewBox="0 0 32 32">
        <title>Slack Channel</title>
        <path d="M6.723 20.22c-0.004 1.855-1.505 3.358-3.359 3.364h-0.001c-1.856-0.005-3.359-1.508-3.363-3.364v-0c0.005-1.854 1.508-3.356 3.362-3.36h3.36zM8.417 20.22c0.005-1.854 1.507-3.355 3.361-3.36h0c1.854 0.005 3.356 1.506 3.361 3.36v8.418c-0.005 1.855-1.507 3.357-3.361 3.363h-0.001c-1.855-0.005-3.357-1.508-3.361-3.362v-0zM11.779 6.723c-1.854-0.005-3.355-1.506-3.361-3.359v-0.001c0.005-1.855 1.507-3.357 3.361-3.363h0.001c1.855 0.005 3.357 1.508 3.361 3.362v3.36zM11.779 8.417c1.854 0.005 3.356 1.507 3.361 3.361v0.001c-0.005 1.854-1.507 3.356-3.361 3.361h-8.416c-1.855-0.005-3.357-1.507-3.363-3.361v-0.001c0.005-1.855 1.508-3.357 3.362-3.361h0zM25.275 11.779c0.005-1.855 1.508-3.357 3.362-3.361h0c1.855 0.005 3.357 1.507 3.363 3.361v0.001c-0.005 1.855-1.508 3.357-3.362 3.361h-3.363zM23.584 11.779c-0.005 1.855-1.509 3.358-3.364 3.361h-0c-1.854-0.005-3.355-1.507-3.36-3.361v-8.416c0.004-1.855 1.506-3.357 3.36-3.363h0c1.856 0.004 3.359 1.507 3.364 3.362v0zM20.22 25.275c1.856 0.004 3.359 1.507 3.364 3.362v0c-0.005 1.856-1.508 3.359-3.364 3.363h-0c-1.854-0.005-3.356-1.508-3.36-3.362v-3.363zM20.22 23.584c-1.855-0.005-3.357-1.509-3.36-3.364v-0c0.005-1.854 1.506-3.355 3.36-3.36h8.418c1.855 0.004 3.357 1.506 3.363 3.36v0c-0.004 1.856-1.507 3.359-3.362 3.364h-0z"></path>
      </symbol>
    </svg>

  </body>
</html>
