<html>
  <head>
    <title>Metas</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <h1>Meta View</h1>
    <p>Puzzles that have been tagged with <i>meta/</i> or <i>in/</i> tag prefixes will appear here.</p>
	{{#each metas}}
	<div class="meta-view">
		<div class="meta-header title{{#if complete}} meta-complete{{/if}}">
			{{#if url}}<a href="{{url}}" target="_blank">{{/if}}
			{{name}}
			{{#if url}}</a>{{/if}}
			<a class="dash-link" href="puzzles?tags=in/{{metaName}}">[dashboard]</a>
		</div>
		<div class="meta-header answer{{#if complete}} meta-complete{{/if}}">
			{{#if answer}}<span class="answer">{{answer}}</span>{{/if}}
		</div>
		{{#each puzzles}}
		<div class="meta-puzzle title{{#if complete}} puzzle-complete{{/if}}">
			{{#if url}} <a href="{{url}}" target="_blank"> {{/if}}
			{{name}}
			{{#if url}} </a> {{/if}}
		</div>
		<div class="meta-puzzle answer{{#if complete}} puzzle-complete{{/if}}">
			{{#if answer}} {{answer}} {{/if}}
		</div>
		{{/each}}
	</div>
	{{/each}}
  </body>
</html>