<html>
  <head>
    <title>Metas</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
		<div class="menu-header">
			<span class="menu-item">Passport</span>
			<a href="puzzles"><span class="menu-item">Puzzles</span></a>
			<a href="metas"><span class="menu-item menu-selected">Metas</span></a>
			<a href="tagger"><span class="menu-item">Tag Editor</span></a>
		</div>
    <div class="body-wrapper">
		  <p>
				Puzzles that have been tagged with <i>meta/</i> or <i>in/</i> tag prefixes will appear here.
			</p>
			<div class="meta-view-wrapper">
				{{#each metas}}
					<div class="meta-view">
						<div class="meta-header title{{#if complete}} meta-complete{{/if}}">
							{{name}}
							<a class="dash-link" href="puzzles?tags=in/{{metaName}} meta/{{metaName}}">[dashboard]</a>
						</div>
						<div class="meta-header answer{{#if complete}} meta-complete{{/if}}">
							{{#if answer}}<span class="answer">{{answer}}</span>{{/if}}
							<div class="meta-header-icons">
								{{#if url}}
									<a href="{{url}}" target="_blank">
										<div class="meta-dashboard-icon meta-icon-puzzle">&nbsp;</div>
									</a>
								{{/if}}
								<a href="{{../slackUrlPrefix}}{{id}}" target="_blank">
									<div class="meta-dashboard-icon meta-icon-slack">&nbsp;</div>
								</a>
								<a href="{{sheetUrl}}" target="_blank">
									<div class="meta-dashboard-icon meta-icon-sheet">&nbsp;</div>
								</a>
							</div>
						</div>
						{{#each puzzles}}
							<div class="meta-puzzle title{{#if complete}} puzzle-complete{{/if}}">
								<a href="puzzles?tags=in/{{../metaName}}&expanded={{id}}">
								  {{name}}
								</a>
							</div>
							<div class="meta-puzzle answer{{#if complete}} puzzle-complete{{/if}}">
								{{#if answer}}{{answer}}{{/if}}
							</div>
						{{/each}}
					</div>
				{{/each}}
			</div>
		</div>
  </body>
</html>