<html>
  <head>
    <title>hunt</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    {{#each puzzles}}
      <hr>
      <div>
        <p><a href="{{url}}">{{name}}</a></p>
        <p><a href="{{../slackUrlPrefix}}{{id}}">#{{channelName}}</a></p>
        <p><a href="{{sheetUrl}}">Spreadsheet</a></p>
        <ul>
          {{#each users}}
            <li><a href="{{../../slackUrlPrefix}}{{id}}">{{name}}</a></li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </body>
</html>