<html>
  <head>
    <title>Tag: {{tag}}</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <h1>{{tag}}</h1>
    <table>
      {{#each puzzles}}
        <tr>
          <td><a href="{{../slackUrlPrefix}}{{id}}">#</a></td>
          <td><a href="{{url}}">{{name}}</a></td>
          <td>{{answer}}</td>
        </tr>
      {{/each}}
    </table>
  </body>
</html>