<html>
  <head>
    <title>Task Queue - {{appName}}</title>
    <link rel="icon" type="image/svg+xml" href="static/favicon.svg">
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <div class="menu-header">
      <div class="menu-item">{{appName}}</div>
      <div class="menu-item"><a href="puzzles">Puzzles</a></div>
      <div class="menu-item"><a href="metas">Metas</a></div>
      <div class="menu-item"><a href="breakouts">Breakouts</a></div>
      <div class="menu-item"><a href="tagger">Tag Editor</a></div>
    </div>
    <div class="body-wrapper">
      <form action="taskqueue/process" method="POST">
        <input type="submit" value="Force Process Queue Now">
      </form>
      <form action="taskqueue/startlistening" method="POST">
        <input type="submit" value="Restart Task Queue Listen">
      </form>
      <table class="task-queue-table">
        {{#each tasks}}
          <tr>
            <td>{{id}}</td>
            <td>{{task_type}}</td>
            <td>{{payload}}</td>
            <td>{{error}}</td>
            <td>
              {{#if error}}
                <form action="taskqueue/clearerror" method="POST">
                  <input type="hidden" name="id" value="{{id}}">
                  <input type="submit" value="Clear Error">
                </form>
              {{/if}}
              <form action="taskqueue/delete" method="POST">
                <input type="hidden" name="id" value="{{id}}">
                <input type="submit" value="Delete">
              </form>
            </td>
          </tr>
        {{/each}}
      </table>
    </div>
  </body>
</html>
