<html>
  <head>
    <title>Task Queue</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <div class="menu-header">
      <span class="menu-item">{{appName}}</span>
      <a href="puzzles"><span class="menu-item">Puzzles</span></a>
      <a href="metas"><span class="menu-item">Metas</span></a>
      <a href="tagger"><span class="menu-item">Tag Editor</span></a>
    </div>
    <div class="body-wrapper">
      <form action="taskqueue/process" method="POST">
        <input type="submit" value="Force Process Queue Now">
      </form>
      <form action="taskqueue/startlistening" method="POST">
        <input type="submit" value="Restart Task Queue Listen">
      </form>
      <table class="task-queue-table">
        {{#each tasks}}
          <tr>
            <td>{{id}}</td>
            <td>{{task_type}}</td>
            <td>{{payload}}</td>
            <td>{{error}}</td>
            <td>
              {{#if error}}
                <form action="taskqueue/clearerror" method="POST">
                  <input type="hidden" name="id" value="{{id}}">
                  <input type="submit" value="Clear Error">
                </form>
              {{/if}}
              <form action="taskqueue/delete" method="POST">
                <input type="hidden" name="id" value="{{id}}">
                <input type="submit" value="Delete">
              </form>
            </td>
          </tr>
        {{/each}}
      </table>
    </div>
  </body>
</html>