<!doctype html>
<html data-theme="{{#if enableDarkMode}}dark{{else}}light{{/if}}">
  <head>
    <title>Activity - {{user.name}} - {{appName}}</title>
    {{> favicon }}
    <link rel="stylesheet" type="text/css" href="{{staticUrl "dataTables.css"}}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="{{staticUrl "style.css"}}">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type="text/javascript" charset="utf8" src="{{staticUrl "twemoji.min.js"}}" crossorigin="anonymous"></script>
  </head>
  <body>
    {{> menuheader activity=true }}
    <div class="body-wrapper">
      <h2><svg class="icon icon-people"><use xlink:href="{{staticUrl "icons.svg"}}#people"></use></svg> {{user.name}}</h2>
      <table id="user-activity-table" class="solver-activity display" style="width: 100%">
        <thead>
          <tr>
            <th>Timestamp</th>
            <th>Puzzle</th>
            <th>Action</th>
          </tr>
        </thead>
      {{#each activities}}
        <tr>
          <td>{{timestamp}}</td>
          <td>
            <a href="/puzzleactivity/{{puzzle.id}}">
              {{#with (puzzleStatusEmoji puzzle)}}
                {{unicodeEmoji}}
              {{/with}}
              {{puzzle.name}}
            </a>
          </td>
          <td>
            {{renderActivityType activityType}}
          </td>
        </tr>
      {{/each}}
      </table>
    </div>
    <script type="text/javascript">
      twemoji.parse(document.body);

      $(document).ready(function() {
        $("#user-activity-table").DataTable({
          paging: true,
          dom: "Bfrtip",
          autoWidth: false,
          buttons: [
            "copy", "csv"
          ],
          order: [[0, "desc"]], // Sort by Timestamp desc
          columns: [
            {
              render: function(data, type, row) {
                 if (type === "display" || type === "filter") {
                   return moment.unix(data / 1000).format("ddd MMM DD HH:mm:ss");
                 }
                 return data;
              }
            },
            null,
            null
          ]
        });
      });
    </script>
  </body>
</html>
